body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}

.first-container {
  text-align: center;
  margin: 55px auto 0 auto;
}

.first-header {
  font-weight: 200;
  margin: 0 auto 0 auto;
}

.second-header {
  font-weight: 600;
  margin: 0 auto 15px auto;
}

.first-para {
  width: 39%;
  font-size: 15px;
  margin: 0 auto 0 auto;
  line-height: 2;
}

.card-header {
  margin: 20px auto 0 20px;
}

.cards {
  position: relative;
  height: 650px;
}

.card-container-one {
  position: absolute;
  top: 50px;
  left: 550px;
  width: 400px;
  border-style: solid none none none;
  border-radius: 4px 4px 10px 10px;
  border-width: thick;
  border-color: #ea5353;
  box-shadow: 0 5px 10px #a3a5ae, 0 6px 20px #a3a5ae;
}

.card-para {
  width: 70%;
  margin: 20px auto 0 20px;
  line-height: 2;
}

.card-img {
  margin: 30px 10px 20px 300px;
}

.card-container-two {
  position: absolute;
  top: 350px;
  left: 550px;
  width: 400px;
  border-style: solid none none none;
  border-radius: 4px 4px 10px 10px;
  border-width: thick;
  border-color: #fcaf4a;
  box-shadow: 0 5px 10px #a3a5ae, 0 6px 20px #a3a5ae;
}

.card-container-three {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 400px;
  border-style: solid none none none;
  border-radius: 4px 4px 10px 10px;
  border-width: thick;
  border-color: #45d3d3;
  box-shadow: 0 5px 10px #a3a5ae, 0 6px 20px #a3a5ae;
}

.card-container-four {
  position: absolute;
  top: 200px;
  left: 1000px;
  width: 400px;
  border-style: solid none none none;
  border-radius: 4px 4px 10px 10px;
  border-width: thick;
  border-color: #549ef2;
  box-shadow: 0 5px 10px #a3a5ae, 0 6px 20px #a3a5ae;
}
